$color_one: #202020; //Cor dos botões do menu
$color_two: #11e26f; //Cor dos botões e do rodape
$color_tree: #9B9A9A; //Cor dos icones de fechar
$color_four: #bbbbbb; //Cor dos inputs
$color_five: #d6d6d6; //Cor do background do editar, deletar e criar
$color_six: #ffffff;